<h1>All Posts</h1><a href="/posts/new">Make a new post!</a>
{{#each posts}}
<a href="./category/{{genreId}}"><div class="main__post-category-container">{{posts.category.name}}</div></a>
<div class="main__post-container">
    <p class="main__post-title">{{title}}</p>
    <div class="main__post-avatar"><img src="/images/avatar_rick2.png" class="avatar"/></div>
    <div class="main__post-date">{{updatedAt}}</div>
    <p class="main__post-user"><a href="./user/{{authorId}}">RickStan322</a></p>
    <p class="main__post-since">Member since:<br>{{createdAt}}</p>
    <p class="main__post-text">{{body}}</p>
    <ul class="main__post-tag-container">
    <li class="main__post-tag">#Funny</li>
    <li class="main__post-tag"> #Playful   </li>
    <li class="main__post-tag">#Gorgeous    </li>
    <li class="main__post-tag">#Happy    </li>
    <li class="main__post-tag">#Fall-Weather</li>
    </ul>
</div>

{{/each}}
