


    <form action="/posts"class="form__post-container">
        <label class="form__post-header">New Blog Post</label>
        <label class="form__post-user_desc">User:</label>
        <label class="form__post-token_desc">User Token:</label>
        <select class="form__post-user" name="user">
            <option value="{{user}}" >RickFan922</option>
            <option value="{{user}}">RickFan922</option>
        </select>
        <input type="password" class="form__post-token" name="token" >
        <label class="form__post-title_desc">Blog Title:</label>
        <input  class="form__post-title" name="title">
        <label class="form__post-category_desc">Category:</label>
        <select class="form__post-category"n ame="category">
            <option value="{{category}}">Category</option>
        </select>
        <label class="form__post-text_desc">Blog Post:</label>
        <textarea class="form__post-text" name="text"></textarea>
        <label class="form__post-tags_desc">Tags:</label>
        <div class="form__post-tags">
        <label >
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Silly
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Head
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Story
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">LOL
        </label>
        <label >
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Silly
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Head
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Story
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">LOL
        </label>
        <label >
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Silly
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Head
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Story
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">LOL
        </label>
        <label >
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">ThisTagIsWayTOOO LONG
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Head
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Story
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">LOL
        </label>
        <label >
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Silly
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Head
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">Story
        </label>
        <label>
            <input type="checkbox" class="form__post-tag" name="tags" value="{{tag}}">LOL
        </label>
        </form>
        </div>

    </form>


