<h2>Work in Progress...</h2>


<div class="form__user-wrapper">
    {{#token}}

    {{/token}}
    {{^token}}
    <form action="/posts" class="form__user-container">
        <label class="form__user-header">New User</label>
        <div class="form__username-wrapper">
            <label class="form__user-name">Username: </label>
            <input class="form__user-name__input" name="name"></input>
        </div>
        <div class="form__username-quote-wrapper">
            <label class="form__user-quote">Favorite Quote: </label>
            <textarea class="form__user-quote__input" name="quote" maxlength={{globals.maxQuote}} placeholder="'To post or not to post' ... //Limit of {{global.maxQuote}} chars"></textarea>
        </div>
        <div class="form__user-avatar-select-wrapper">
            {{#each avatars}}
                <div class="form__user-avatar__card">
                    <img class="avatar" src="{{imgUrl}}">
                    <input type="radio" id={{name}} title={{title}} name="avatarUrl" value="{{imgUrl}}">
                    <label for="{{name}}">{{name}}</label>
                </div>>
            {{/each}}
        </div>       

        <label class="form__post-submit-container">
            <button class="form__post-submit">
                <span>Submit</span>
            </button>
        </label>

    </form>
    {{/token}}
</div>