<h2>Welcome</h2>
{{!-- <div class="form__user-wrapper"> --}}
    {{!-- {{#user}}
        <p>You did it!!!!</p>
        <p> New user {{name}} created!!</p>
        <p> Here's your new token:     "{{token}}"</p>
    {{/user}} --}}

    {{!-- {{^user}} --}}
    <form action="/users/new" class="form__user-container" method="POST">
        <header class="form__user-header">
            New User
            </header>   
        <label class="form__user-name_desc">
            Username: 
            </label>
        <label>
            <input class="form__user-name" name="name"></input>
            </label>       
        <label class="form__user-token_desc">
            Password: 
            </label>
        <label>
            <input class="form__user-token" name="token"></input>
            </label>       
        <label class="form__user-quote_desc">
            Favorite Quote: 
            </label>
        <label class="form__user-quote">
            <textarea name="quote" maxlength="255" placeholder="'To post or not to post' ... //Limit of 255 chars"></textarea>
            </label>      
        <label class="form__user-avatar_desc">
            Select your Avatar: 
            </label>
        <label class="form__user-quote">
        
           
           
            </label>      
            
                <ul class="form__user-avatar_list">
                {{#each avatars}}    
                   <li class="form__user-avatar_list-item"> <img class="avatar" src="{{imgUrl}}"><br>
                    <input type="radio" id={{name}} title="{{title}}" name="avatarUrl" value="{{imgUrl}}">
                    <label for="{{name}}">{{name}}</label>
                    </li>
                 {{/each}}
                </ul>
            <label class="form__post-submit-container">
                <button class="form__post-submit">
                    <span>Submit</span>
                </button>
            </label>
            
        </div>    
                 
   </form>

    



    {{!-- {{/user}} --}}
{{!-- </div> --}}